/*=== Global ===*/
body{ font-family: 'PT Sans', sans-serif; }
p { line-height: 1.7em; font-size: 14px; }
.main-div-section {
	max-width: 1366px !important;
	width: 100% !important;
	background-color: #fff;
	margin: 0 auto;
	border: 2px solid #ededed;
}
.header-div-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.main-div-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.login-row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
h1, h2, h3, h4, h5, h6{ margin: 0px; }
h1{ font-size: 52px; }
h4{ font-size: 32px; }
.btn {
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 30px;
	cursor: pointer;
}
.light-btn, .red-btn {
	color: #fff;
	font-weight: bold;
}
.red-btn:hover {
	background-color: #a22323;
}
.light-btn:hover {
	background-color: #2ca62c;
}
/*=== account page & login page ===*/
.left-side {
	width: 45%;
	background-image: url("../images/login-account.jpg");
	padding: 20px 15px;
	margin-right: 25px;
}
.white-title {
	font-size: 52px;
	color: #ffffff;
	text-align: center;
	margin-top: 0px;
}
.left-side p {
	color: #fff;
	text-align: center;
	font-size: 18px;
}
.button-div {
	text-align: center;
	margin-bottom: 20px;
}
.outline-btn {
	padding: 15px 90px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 15px;
	cursor: pointer;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}
.outline-btn:hover {
	background-color: #001fd1;
	border-color: #001fd1;
}
.divider-div {
	height: 150px;
}
/*-----------------*/
.right-side {
	width: 55%;
	margin-right: 25px;
}
.blue-title {
	color: #001fd1;
	text-align: center;
	margin-top: 0;
}
.blue-subtitle {
	text-align: center;
}
.blue-subtitle a {
	font-size: 32px;
	color: #001fd1;
	text-decoration: none;
}
.full-div {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.half-div {
	width: 98%;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 2%;
}
.half-div input {
	padding: 10px 15px;
	height: 4em;
	background-color: #dfe2f4;
	border-radius: 10px;
	border: 1px solid #dfe2f4;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	width: 100%;
}
.half-div input:focus {
	outline: none;
}
.image-text-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 2px solid #ededed;
}

.half-div input {
  text-indent: 35px;
}
.half-div { 
  position: relative; 
}
.half-div .c_icon {
	position: absolute;
	color: #001fd1;
	z-index: 100;
	font-size: 30px;
	top: 30%;
	left: 3%;
	height: 26px;
	width: 24px;
}
.c-user {
	content: url(../images/user.png);
}
.c-users {
	content: url(../images/users.png);
}
.c-envelope {
	content: url(../images/envelope.png);
}
.c-map-marker {
	content: url(../images/map-marker.png);
}
.c-key {
	content: url(../images/key.png);
}
.c-building {
	content: url(../images/building.png);
}
.full-div .wpcf7-submit {
	background-color: #7c8be4 !important;
	border-radius: 10px !important;
	width: 98%;
	margin: 0 auto !important;
	padding: 9px 15px !important;
}
.full-div .wpcf7-submit:hover {
	background-color: #001fd1 !important;
}
.blue-btn {
	padding: 15px 90px !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
	background-color: #7c8be4 !important;
	color: #fff !important;
	border: #7c8be4 !important;
	border-radius: 15px !important;
	cursor: pointer !important;
	font-size: 30px !important;
	width: 98%;
	text-align: center !important;
}
.blue-btn:hover {
	background-color: #001fd1 !important;
	border-color: #001fd1 !important;
	text-decoration: none !important;
}
/*=== Responsive css ===*/
@media all and (min-width: 981px) and (max-width: 1100px) {
    .white-title, .blue-title {
    	font-size: 42px;
    }
    .outline-btn {
    	padding: 15px 30px;
    	font-size: 24px;
    }
}
@media all and (max-width: 980px) {
	.header-div-row, .main-div-row {
		flex-direction: column;
	}
	.left-side {
		width: 90%;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.divider-div {
		height: 100px;
	}
	.right-side {
		width: 90%;
		margin-right: 0px;
	}
	.white-title, .blue-title {
		font-size: 40px;
	}
	.left-side p {
		font-size: 16px;
	}
	.outline-btn, .blue-btn {
		padding: 12px 20px;
		font-size: 22px;
	}
	.full-div {
		flex-direction: column;
	}
	.half-div {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.half-div .c_icon {
		left: 2%;
	}
	.half-div input {
		text-indent: 6%;
	}
	.blue-btn {
		width: auto;
	}
}

/*=== Dashboard ===*/
.dh-leftside, .dashboard-left-side{
    width: 25%;
    position: relative;
    display: inherit;
    overflow: hidden;
}
.dh-rightside, .dashboard-right-side{
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    border-left: 2px solid #ededed;
}

.dashboard-logo {
	padding: 15px;
}
.header-div-row {
	border-bottom: 2px solid #ededed;
}
.dh-rightside {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-left: 2px solid #ededed;
}
.account-holder-img {
	max-width: 60px;
	margin-left: 20px;
	border-radius: 100%;
}
.accountdiv, .cart-account-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.accountdiv {
	border-left: 3px solid #ededed;
	padding-left: 15px;
}
.cartdiv {
	padding-right: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header-cart {
	max-width: 40px;
	padding-right: 10px;
}
.header-search {
	max-width: 50px;
}
.search-btn {
	border: 0px solid;
	padding: 0px;
	background-color: transparent;
}
.search-container form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0px;
}
.product-search {
	padding: 15px 20px 15px 5px;
	border: 0px !important;
}
.product-search:focus {
	outline: none;
}

@media all and (max-width: 980px) {
    .dashboard-logo {
	    border-bottom: 2px solid #ededed;
    }
    .dh-rightside {
    	flex-direction: column;
    	border-left: 0px;
    	width: 100%;
    	padding: 0px;
    }
    .dh-leftside {
    	width: 100%;
    	border-bottom: 2px solid #ededed;
    }
    .search-container {
    	width: 100%;
    	padding: 10px 15px;
    	box-sizing: border-box;
    }
    .cartdiv {
    	width: 100%;
    }
    .cart-account-div {
    	padding: 0px 15px 10px;
    }
}
/*=== Dashboard body ===*/
.dashboard-right-side {
	background-color: #eaeaea;
}
.dashboard-right-side {
	flex-direction: column;
}
.welcome-div {
	background-color: #fff;
	border-radius: 30px;
	width: 65%;
	margin: 0 auto;
	padding: 25px 15px;
	text-align: center;
}
.welcome-div h4 {
	margin-bottom: 10px;
}
.welcome-div p {
	margin: 0;
}
@media all and (max-width: 980px){
    .welcome-div {
	    width: 90%;
	    margin-top: 15px;
    }
    .white-title, .blue-title {
    	font-size: 28px;
    }
    .dh-rightside, .dashboard-right-side {
    	width: 100%;
    	padding: 0px;
    	border-left: 0px solid #ededed;
    }
}
.shop-div {
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
	flex-wrap: wrap;
}
.shop-image_text-div {
	background-color: #fff;
	padding: 15px;
	border-radius: 30px;
	margin: 20px;
	width: 17%;
}
.shop-image_text-div h5, .shop-image_text-div p {
	margin: 5px;
	text-align: center;
}
.shop-image_text-div h5 {
	font-size: 16px;
	color: #000;
}
.shop-image_text-div a {
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media all and (max-width: 980px){
    .shop-image_text-div {
	    padding: 10px;
	    margin: 8px;
	    width: 39%;
    }
}
.dashboard-right-side {
	overflow: auto !important;
	max-height: 700px !important;
	position: relative;
}


.dashboard-left-side {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.left-side-text {
	text-align: center;
	width: 100%;
	color: #001fd1;
}
.left-side-contact {
	text-align: center;
	margin-top: 20px;
}
.left-side-contact a {
	text-decoration: none;
}
.left-side-social {
	margin-top: 20px;
}
.left-side-social a {
	text-decoration: none;
}
.das_left_social {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0;
}
.das_left_social li {
	width: 17px;
	font-size: 0;
	padding-right: 10px;
}
.left-side-menu {
	width: 100%;
}
.das_left_menu {
	list-style: none;
	padding-left: 0px;
	margin: 0;
}
.das_left_menu li {
	text-decoration: none;
	margin:0 0 15px 0;
}
.das_left_menu li a {
	text-decoration: none;
	color: #6f6f6f;
	padding: 15px 4vw;
	font-weight: bold;
	min-height: 36px;
	align-items: center;
	display: flex;
}
.das_left_menu li.active a {
	background-color: #151515;
	color: #fff;
}
.das_left_menu li a::before {
	content: "";
	position: absolute;
	margin-left: -35px;
	width: 30px;
	height: 30px;
	background-size: cover;
}
.left-one a::before { background-image: url("../images/order-white.png"); }
.left-two a::before { background-image: url("../images/product-black.png"); }
.left-three a::before { background-image: url("../images/information-black.png"); }
.left-four a::before { background-image: url("../images/employee-black.png"); }
.left-five a::before { background-image: url("../images/ask-black.png"); }

@media all and (max-width: 980px){
    .dashboard-left-side {
	    width: 100%;
    }
}

/*=== product page ===*/
.product-page-right {
	background-color: #ffffff;
	border-radius: 15px;
	padding: 15px;
}
.go-back-div img {
	width: 22px;
	vertical-align: middle;
	padding-right: 10;
}
.go-back-div a {
	text-decoration: navajowhite;
	color: #000000;
	font-size: 22px;
}
.product-image-div {
	width: 50%;
}
.gapdiv {
	width: 10%;
}
.product-text-div {
	width: 35%;
}
.product-image-text-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.product-image-main {
	margin-bottom: 20px;
	text-align: center;
}
.product-image-main img {
	max-width: 400px;
}
.product-image-thumbnail {
	display: -webkit-box;
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.product-image-thumbnail img {
	width: 70px;
	margin-right: 15px;
	border: 2px solid #001fd1;
	padding: 5px 10px;
}
.product-text-title h2 {
	font-size: 42px;
	margin-bottom: 15px;
}
.product-text-price {
	color: #001fd1;
	font-size: 28px;
	margin-bottom: 25px;
}
.product-text-subtitle h5 {
	color: #001fd1;
	font-size: 20px;
	padding-bottom: 8px;
}
.product-text-color {
	margin-top: 15px;
}
.color-div {
	width: 25px;
	height: 25px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
}
.grey{ background-color: grey; }
.yellow{ background-color: yellow; }
.red{ background-color: red; }
.blue{ background-color: blue; }
.green{ background-color: green; }
.product-text-button {
	margin-top: 40px;
}
.getbutton {
	text-transform: initial;
	font-size: 24px;
	padding: 15px 30px;
}

@media all and (max-width: 980px){
    .product-page-right {
    	margin-top: 20px;
    }
    .product-image-text-div {
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	flex-direction: column;
    }
    .product-image-div {
    	width: 100%;
    }
    .product-image-thumbnail img {
    	width: 50px;
    	margin-right: 10px;
    	padding: 5px;
    }
    .product-text-div {
    	width: 100%;
    	margin-top: 25px;
    }
    .product-text-title h2 {
    	font-size: 32px;
    }
    .product-text-price {
    	font-size: 24px;
    }
    .product-text-subtitle h5 {
    	font-size: 18px;
    	padding-bottom: 0;
    }
    .product-text-button {
    	margin-bottom: 30px;
    }
}
.request-title {
	font-weight: normal;
	font-size: 26px;
}
.request-p_logo {
	border-bottom: 2px solid;
	margin-top: 30px;
}
.request-p_text {
	border-bottom: 2px solid;
}
.request-price-form textarea {
	margin-bottom: 50px;
	width: 100%;
	border: 1px solid #001df1;
	border-radius: 10px;
	padding: 15px;
}
.requestbtn {
	text-transform: none;
	display: block;
	padding: 15px 7px;
}


.request-logo_position{display:none;}
/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: absolute;
	z-index: 9;
	width: 97%;
	background-color: rgba(0,0,0,.6);
	top: 35px;
	margin-top: -20px;
	height: 96%;
	border-radius: 15px;
}

/* Add styles to the form container */
.form-container {
	width: 500px;
	padding: 40px 20px 10px 20px;
	background-color: #fff;
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	border: 2px solid #001fd1;
	border-radius: 10px;
	height: 85%;
}

/* close button */
.close-icon {
	width: 40px;
	position: absolute;
	margin-left: -40px;
	margin-top: -45px;
	cursor: pointer;
}
/* === Product dashboard ===*/
.status-div {
	margin-top: 25px;
	margin-left: 25px;
}
#cars {
	width: 240px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	height: 34px;
	background: url(../images/down-arrow.png) no-repeat right #fff;
	-webkit-appearance: none;
	background-position-x: 206px;
}
.status-text {
	font-size: 10px;
	background-color: #fcd841;
	padding: 5px 8px;
	border-radius: 30px;
	position: absolute;
	margin-top: -25px;
	color: white;
	font-weight: bold;
}
.pending { background-color: #fcd841; }
.approved { background-color: #5ded5d; }
.denied { background-color: #d83232; }
.ordered { background-color: #001fd1; }

/* === Product dashboard two ===*/
.product-text-table table {
	width: 100%;
	border: 0px solid !important;
}
.product-text-table thead {
	background-color: #001fd1;
	color: #ffffff;
}
.product-text-table tbody {
	background-color: #7f8fe8;
	color: #ffffff;
}
.product-text-table table tr {
	border-bottom: 20px solid red !important;
}
.product-text-table tbody td, .product-text-table thead th {
	border: 0px solid !important;
	padding: 8px 16px;
	text-align: center;
	font-size: 13px;
}
.product-qunatity-submit{
    display: none;
}
#add-quantity {
	border: 1px solid #001fd1;
	border-radius: 15px;
	padding: 15px 10px;
	max-width: 100px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
/* === Product dashboard three ===*/
.product-text-textarea textarea {
	width: 100%;
	border-radius: 15px;
	padding: 15px;
	border: 2px solid #001df1;
}
.product-text-textarea {
	margin: 25px 0px;
}
/* === Product dashboard cart ===*/
.product_cart_main_div {
	align-items: flex-start;
}
.product-cart-div {
	width: 62%;
	margin-right: 2%;
}
.information-div {
	width: 34%;
	margin-left: 2%;
	background-color: #efefef;
	padding: 20px 15px;
	border-radius: 15px;
}
.product-cart-div table {
	width: 100%;
}
.cart-porduct {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cart-img {
	margin-right: 10px;
	width: 80px;
}
.cart-text {
	color: #000;
	font-size: 12px;
}
.yourself-title {
	display: flex;
}
.yourself-title .title {
	background-color: #001fd1;
	color: white;
	padding: 5px 10px;
	border-radius: 10px 0px 0px 0px;
	width: 25%;
	font-weight: bold;
}
.yourself-title .text {
	background-color: #d8daed;
	width: 75%;
	padding: 5px;
	border-radius: 0px 10px 0px 0px;
	color: #001fd1;
}
.yourself-body {
	min-height: 50px;
	background-color: #eaedfb;
	border-radius: 0px 0px 10px 10px;
	padding: 15px;
}
.increase-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.add_div.increase-div input, .add_div.increase-div select {
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #fff;
	width: 100%;
	vertical-align: middle;
	color: #333;
}
.product-cart-div table {
	border: 1px solid #ddd;
	text-align: center;
	margin: 20px 0px;	
}
.product-cart-div table td, .product-cart-div table th {
	border: 1px solid #ddd !important;
	
}
.product-text-title h5 {
	font-size: 24px;
	text-align: left;
}

/*=== cart page tab ===*/
.cart-tab {
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  color: #001fd1;
}
.cart-tab button {
	background-color: #fff;
	color: #001fd1;
	border: 2px solid #001fd1;
	cursor: pointer;
	padding: 10px 16px;
	transition: 0.3s;
	border-radius: 15px;
	margin: 0px 10px;
}
.cart-tab button.active {
	background-color: #001fd1;
	color: #fff;
}
.tabcontent {
  display: none;
}
.active-tab{ 
    display: block;
}
#employee_chose h3 {
	text-align: center;
	color: #001fd1;
}
.excel-manually-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.excel-manually-div img {
	width: 40px;
	padding-right: 10px;
}
.excel-manually-div h4 {
	font-size: 16px;
	color: #000;
}
.excel-upload-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
	color: #001fd1;
}
.manually-upload-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 15px;
}
.chooseMethod-div {
	margin-top: 20px;
}
#invoice {
	margin-top: 10px;
}
.information_form {
	margin-top: 10px;
}

.information_form input[type="text"], .information_form input[type="email"] {
	width: 100%;
	margin: 10px 0px;
	padding: 12px;
	border-radius: 10px;
	border: 0px solid !important;
	background-color: #dedede;
	font-size: 15px;
}
@media all and (max-width: 980px){
    .product-cart-div, .information-div {
    	width: 100%;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	position: relative;
    }
    .information-div {
        margin-top: 15px;
    }
    .cart-tab button {
	    margin-bottom: 10px;
    }
    .information-formtitlediv{
        padding: 10px;
    }
}
.delivery_title th {
	text-align: left;
	padding-bottom: 10px;
}
.delivery_title td {
	text-align: right;
	padding-bottom: 10px;
}
.blue-text td {
	color: #001fd1;
	font-size: 15px;
	padding-top: 10px;
}
.delivery_method-table td:nth-child(2n) {
	float: right;
}
.two_btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.twobutton {
	width: 40%;
	padding: 15px 24px;
	font-size: 20px;
}
.goback_link {
	font-size: 20px;
	text-decoration: none;
	color: #001fd1;
}

/*== Company Information ==*/
.company_information_right_side {
	background-color: transparent;
}
.company-information-title {
	border-bottom: 2px solid #001fd1;
	padding-bottom: 10px;
	font-size: 26px;
}
.company-information-title span {
	font-size: 18px;
	color: #001fd1;
	font-weight: lighter;
}
.company-information-title span {
	font-size: 18px;
	color: #001fd1;
	font-weight: lighter;
	font-style: italic;
}
.rightside-form-image-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 20px;
}
.rightside-form-div {
	width: 70%;
	margin-right: 2%;
}
.rightside-form-div .half-div input {
	text-indent: 0px;
	margin-top: 10px;
}
.half-div label {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 5px;
}
.uploadimage-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
}
.format-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 20%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 20px;
	font-weight: bold;
    font-style: italic;
}
#imgInp {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	width: 130px;
	height: 66px;
	margin-top: 30px;
}
#blah {
	width: 130px;
	margin-top: 10px;
}
@media all and (max-width: 980px){
    .rightside-form-image-div {
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	-ms-flex-direction: column;
    	flex-direction: column;
    }
    .rightside-form-div {
    	width: 100%;
    	margin-right: 0;
    }
    .uploadimage-div {	
    	flex-direction: column;
    }
    .format-div {
    	width: 100%;
    }
    #imgInp {
    	width: auto;
    }
    #blah {
    	width: auto;
    }
}

/*== Order history ==*/
.order-history-div {
	margin-top: 20px;
}
.order-history-table {
	width: 100%;
}
.order-history-table th {
	background-color: #eaedfb;
	padding: 15px;
	border-bottom: 1px solid #001fd1;
	text-align: left;
	color: #001fd1;
	font-weight: lighter;
}
.order-history-table tbody tr td {
	min-height: 90px;
	border-bottom: 1px solid #001fd1;
}
.action-td {
	display: flex;
	align-items: center;
	justify-content: center;
}
.action-td img {
	width: auto;
	margin-right: 10px;
	height: 15px;
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 7px;
}
.status-td {
	text-align: center;
}
.status-td span {
	background-color: #d5d5d5;
	border-radius: 10px;
	padding: 8px 15px !important;
	text-align: center;
}
.completed span {
	background-color: #001fd1;
	color: #fff;
}
@media all and (max-width: 980px){
    .order_link {
    	float: none;
    	display: block;
    	margin: 10px 0px;
    }
}

/*== Order Status ==*/
.order-status-div {
	align-items: flex-start;
	margin-top: 20px;
}
.order-status-details {
	background-color: transparent;
}
.order-status-image-div {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.order-status-image-div img {
	width: 50%;
}
.order-status-details-div span {
	color: #001fd1;
}
.order-status-details-div {
	margin-bottom: 20px;
}
.order-status-details-div p {
	margin: 0;
	font-size: 16px;
}
.product-status-div a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-decoration: none;
    color: inherit;
}
.order-status-table strong {
	font-size: 18px;
}
.o-s-t-img img {
	width: 40px;
}
.psd-2nd a {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
	opacity: .5;
}
.order-status-table p {
	margin-bottom: 0px;
}
.psd-2nd p {
	margin: 0px !important;
}
.trackbutton {
	text-transform: initial;
	font-size: 18px;
	padding: 14px 28px;
}
.track-delivery-pdf {
	margin-bottom: 30px;
}
.blue-pdf {
	width: 54px;
	vertical-align: middle;
	margin-top: -5px;
}
@media all and (max-width: 980px){
    .product-status-div a, .psd-2nd a{	
    	-webkit-box-orient: vertical;	
    	-webkit-box-direction: normal;	
    	-ms-flex-direction: column;	
    	flex-direction: column;
    	border: 1px solid;
    	width: 97%;
    	-webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
    }
    .order-status-table {
    	margin-bottom: 10px;
    	margin-top: 10px;
    }
    .track-delivery-pdf {
	    margin-top: 20px;
    }
}
/*=== ask a question ===*/
.question-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.question-left-side {
	width: 73%;
	margin-right: 2%;
}
.question-right-side {
	width: 25%;
	display: block;
	position: relative;
}
.question-right-side-title {
	text-align: center;
}
.question-product {
	background-color: #fff;
	padding: 15px;
	border-radius: 30px;
	margin: 20px;
	width: auto;
}
.question-left-side-title {
	background-color: #001fd1;
	color: #fff;
	text-align: center;
	padding: 10px 15px;
}
.question-left-side {
	border: 2px solid #001fd1;
	height: 700px;
	background-color: #fff;
}


.qustion-ans-div {
	display: flex;
	align-items: center;
	padding: 0px 15px;
	justify-content: space-between;
}
.qus-ans-input-div input {
	border: 2px solid #001fd1;
	padding: 15px 20px;
	min-width: 350px;
	border-radius: 6px;
}
.qus-ans-img-div img {
	width: 84px;
}
.qus-ans-btn {
	text-transform: initial;
	font-size: 22px;
	padding: 14px 28px;
}
.qus-ans-btn img {
	width: 24px;
	vertical-align: bottom;
}
@media all and (max-width: 980px){
    .question-div{	
    	-webkit-box-orient: vertical;	
    	-webkit-box-direction: normal;	
    	-ms-flex-direction: column;	
    	flex-direction: column;
    }
    .question-left-side {
    	width: 97%;
    	margin-right: 0;
    }
    .question-right-side {
    	width: 100%;
    }
    .question-product {
    	margin-left: 10px;
    }
    .qustion-ans-div {
    	flex-direction: column;
    }
    .qus-ans-input-div input {
    	min-width: 310px;
    }
    .qus-ans-input-div, .qus-ans-img-div, .qus-ans-btn-div {
    	margin-top: 15px;
    }
}


